<ion-header>
  <ion-toolbar class="mi-toolbar">
   <ion-buttons slot="secondary">
 
     
     
   </ion-buttons>         
  </ion-toolbar>
 
 </ion-header>
 
 
 <ion-content class="background ion-padding ">
 
  <div class="ion-text-center">
    <br>
    <br>
    <h1 style="font-size: 37px; color: #5E17EB; margin-top: 200px;" >Correo de recuperación <strong>enviado.</strong></h1>
  </div>

    


    
    
    <div>
      <ion-button [routerLink]="['/login']" class="boton-ingresar">Volver</ion-button>

    </div>

      

   
 
 
 
  <div class="circle"></div>

 
  <div class="patron"></div>

 
 </ion-content>