<ion-header>
  <ion-toolbar class="mi-toolbar">
   <ion-buttons slot="secondary">
 
     
     
   </ion-buttons>         
  </ion-toolbar>
 
 </ion-header>
 
 
 <ion-content class="background ion-padding ">
 
  <div class="ion-text-center">
    <br>
    <br>
    <h1 style="font-size: 37px; color: #5E17EB;">Bienvenido <strong>@usuario</strong></h1>
  </div>

    

  <div class=" ion-text-center">
    <br>
    <br>
    <p class="p1">Servicios disponibles</p>

    <br>

    
  
    
    

  </div>
  <div class="servicios">
    <button class="servicio" >Reparaciones</button>
    <button class="servicio">Mantenimientos</button>
    <button class="servicio" >Servicios Eléctricos</button>
    <button class="servicio">Otros Servicios</button>
  </div>
  
    
  

      

   
 
 
 
  <div class="circle"></div>

 
  <div class="patron"></div>

 
 </ion-content>