
ion-toolbar {
  --background: #ffffff; 
}



.mi-toolbar {
  height: 60px;
  width: 270px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  top: -24px;
}


.logito {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


ion-content.background {
  --background: #3690b6; /* Cambia el color a tu preferencia */
}

.patron {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 140px; /* Ajusta la altura según tus necesidades */
  background-image: url('../../assets/patron.png');
  background-repeat: repeat;
}